.form__container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
  }
  
  mat-form-field {
    color: white !important;
  }
  
  mat-label, mat-error, mat-hint {
    color: white !important;
  }
  
  input.mat-input-element {
    color: white !important;
  }
  
  .mat-form-field-label {
    color: white !important;
  }
  
  .mat-form-field-label-wrapper .mat-form-field-label {
    color: white !important;
  }
  
  .mat-input-element::placeholder {
    color: white !important;
  }
  
  .mat-icon {
    color: white !important;
  }
  
  button {
    background-color: #ff4081;
    color: white !important;
  }
  
  a {
    color: #ff4081 !important;
  }
  