<div class="contenedor">
    <h1 class="titulo">Consultar Reservas</h1>

    <div class="filtros">
        <label for="fecha">Fecha:</label>
        <input type="date" [(ngModel)]="filtro.fecha" (change)="filtrarReservas()">
        

        <div class="categorias">
            <button *ngFor="let cancha of canchas" 
                [class.active]="filtro.cancha === cancha" 
                (click)="seleccionarCancha(cancha)">
                {{ cancha }}
            </button>
        </div>


        <div class="categorias">
            <button *ngFor="let estado of estados" 
                [class.active]="filtro.estado === estado" 
                (click)="seleccionarEstado(estado)">
                {{ estado }}
            </button>
        </div>
    </div>


    <div class="lista-reservas" *ngIf="reservasFiltradas.length > 0; else noReservas">
        <div *ngFor="let reserva of reservasFiltradas" class="reserva-card">
            <p><strong>Jugador:</strong> {{ reserva.jugador.nombre }}</p>
            <p><strong>Fecha:</strong> {{ reserva.turno.fecha }}</p>
            <p><strong>Horario:</strong> {{ reserva.turno.horarioInicio }} - {{ reserva.turno.horario_fin }}</p>
            <p><strong>Cancha:</strong> N° {{ reserva.turno.cancha.numero }}</p>
            <p><strong>Pelotas:</strong> {{ reserva.cantidad_pelotas }}</p>
            <p><strong>Paletas:</strong> {{ reserva.cantidad_paletas }}</p>
            <p><strong>Estado:</strong> {{ reserva.estado }}</p>
    
            <!-- Mostrar botón solo si la reserva NO está cancelada y la fecha NO ha pasado 
            <button class="boton-cancelar" *ngIf="!esReservaCanceladaOExpirada(reserva)" (click)="cancelarReserva(reserva.id)">
                Cancelar Reserva
            </button> -->
        </div>
    </div>

    <ng-template #noReservas>
        <p class="mensaje-vacio">No hay reservas registradas que coincidan con los filtros aplicados.</p>
    </ng-template>
</div>
