/* Estilo global */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text);
  background: var(--background);
}

:root {
  --background: #060b10;
  --green: #45d8b4;
  --dark-text: rgba(12, 42, 42);
  --text: #fff;
}

/* Contenedor del formulario */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; /* Asegura que todo el texto esté centrado */
}

.form__container {
  width: 100%;
  max-width: 400px;
}

/* Estilo del título */
.form h1 {
  margin-bottom: 20px;
  color: var(--text);
}

/* Estilo de la descripción */
.description-text {
  font-size: 16px;
  color: var(--text);
  margin-bottom: 10px; /* Reducido el margen inferior para acercar el botón */
}

/* Estilo del formulario */
.form mat-form-field {
  width: 100%;
  margin-bottom: 10px; /* Reducido el margen inferior para acercar el botón */
  color: var(--text); /* Asegura que el texto del label y errores sea blanco */
}

/* Estilo del campo de entrada */
.form mat-form-field input,
.form mat-form-field textarea {
  color: var(--text); /* Establece el color del texto al escribir */
}

/* Estilo del placeholder */
.form mat-form-field .mat-input-element::placeholder {
  color: var(--text); /* Asegura que el placeholder sea blanco */
}

/* Estilo del ícono */
.form mat-form-field .mat-icon {
  color: var(--text); /* Asegura que los íconos sean blancos */
}

/* Estilo de los mensajes de error */
.error-text {
  color: red !important; /* Color del mensaje de error */
}

/* Estilo para los botones */
.button-container {
  display: flex;
  justify-content: center; /* Centra el botón */
  margin-top: 10px; /* Reducido el margen superior para acercar el botón */
}

/* Estilo para los textos informativos */
.info-text {
  font-size: 14px;
  color: var(--text);
  margin-top: 20px; /* Espacio superior */
}

.go-back-button {
  position: absolute; /* Permite posicionar el botón en un lugar específico */
  top: 16px; /* Ajusta la distancia desde el borde superior */
  left: 16px; /* Ajusta la distancia desde el borde izquierdo */
  background-color: #fff; /* Fondo blanco del botón */
  color: #000; /* Color negro para el ícono */
  border-radius: 50%; /* Hace que el botón sea redondo */
  border: none; /* Elimina el borde predeterminado */
  width: 40px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  padding: 0; /* Elimina el padding para ajustar el tamaño */
  display: flex; /* Centra el ícono dentro del botón */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  cursor: pointer; /* Cursor de puntero */
  font-size: 24px; /* Tamaño del ícono */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.go-back-button:hover {
  background-color: #f0f0f0; /* Color más claro al pasar el cursor */
}

/* Estilo para el contenedor del enlace de inicio de sesión */
.login-redirect {
  margin-top: 20px; /* Espacio superior del contenedor */
}

/* Estilo para el texto del enlace de inicio de sesión */
.login-redirect .small-text {
  font-size: 14px; /* Tamaño del texto */
  color: var(--text); /* Color del texto */
}

/* Estilo para el enlace */
.login-redirect .link-style {
  color: var(--green); /* Color del enlace */
  font-weight: 500; /* Peso del texto del enlace */
  text-decoration: none; /* Elimina subrayado */
}

.login-redirect .link-style:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

