/* Estilo global */
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text);
  background: var(--background);
}

:root {
  --background: #060b10;
  --green: #45d8b4;
  --dark-text: rgba(12, 42, 42);
  --text: #fff;
}

/* Contenedor del formulario */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; 
}

/* Contenedor del formulario específico */
.form__container {
  width: 100%;
  max-width: 400px;
  padding: 20px; /* Asegura que haya espacio interno */
  background: #fff; /* Fondo blanco para el contenedor del formulario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo del título */
.form h1 {
  margin-bottom: 20px;
  color: var(--text);
}

/* Estilo de la descripción */
.description-text {
  font-size: 16px;
  color: var(--text);
  margin-bottom: 10px; 
}

/* Estilo del formulario */
.form mat-form-field {
  width: 100%;
  margin-bottom: 10px; 
  color: var(--text); 
}

/* Estilo del campo de entrada */
.form mat-form-field input,
.form mat-form-field textarea {
  color: var(--text); 
}

/* Estilo del placeholder */
.form mat-form-field .mat-input-element::placeholder {
  color: var(--text); 
}

/* Estilo del ícono */
.form mat-form-field .mat-icon {
  color: var(--text); 
}

/* Estilo de los mensajes de error */
.error-text {
  color: red !important; 
}

/* Estilo para los botones */
.button-container {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

/* Estilo para los textos informativos */
.info-text {
  font-size: 14px;
  color: var(--text);
  margin-top: 20px; 
}

.go-back-button {
  position: absolute; 
  top: 16px; 
  left: 16px; 
  background-color: #fff; 
  color: #000; 
  border-radius: 50%; 
  border: none; 
  width: 40px; 
  height: 40px;
  padding: 0; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  font-size: 24px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease; 
}

.go-back-button:hover {
  background-color: #f0f0f0; 
}

/* Estilo para el contenedor del enlace de inicio de sesión */
.login-redirect {
  margin-top: 20px; 
}

/* Estilo para el texto del enlace de inicio de sesión */
.login-redirect .small-text {
  font-size: 14px; 
  color: var(--text); 
}

/* Estilo para el enlace */
.login-redirect .link-style {
  color: var(--green); 
  font-weight: 500; 
  text-decoration: none; 
}

.login-redirect .link-style:hover {
  text-decoration: underline; 
}
