<button mat-icon-button class="go-back-button" (click)="goHome()">
  <mat-icon>arrow_back</mat-icon>
</button>

<div class="form">
  <div class="form__container">
    <h1>Iniciar Sesión</h1>

    <app-button-providers [isLogin]="true" (onGoogleLogin)="onGoogleLogin()"></app-button-providers>

    <form [formGroup]="form" (ngSubmit)="login()">
      <div>
        <mat-form-field appearance="fill" class="custom-field">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" />
          <mat-error class="error-text" *ngIf="isEmailValid">
            {{ isEmailValid }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="password-field-container">
        <mat-form-field appearance="fill" class="custom-field">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="hide ? 'Mostrar contraseña' : 'Ocultar contraseña'"
            [attr.aria-pressed]="!hide"
            class="password-toggle-button"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error class="error-text" *ngIf="isPasswordValid">
            {{ isPasswordValid }}
          </mat-error>
        </mat-form-field>

        <div class="forgot-password">
          <a routerLink="/cambiar-contrasenia" class="forgot-password-link">
            Olvidé mi contraseña
          </a>
        </div>
      </div>

      <div class="error-message">{{ errorMessage }}</div>
      <div class="success-message">{{ successMessage }}</div>

      <button mat-raised-button type="submit" color="primary" class="submit-button">Iniciar sesión</button>
    </form>


  
    <div class="text-center">
      ¿No tienes cuenta?
      <div class="register">
        <a routerLink="/register">Regístrate</a>
      </div>

  </div>
</div>
