<app-navbar></app-navbar>
<div class="home">

  <div #calendario class="encabezado" id="services">
    <div class="overlay">
      <header class="home_header">
        <h1>Los Ciruelos Padel Club</h1>
        <p class="description">
          Alcanza tu mejor nivel
        </p>
        <p class="description">Elige tu turno</p>
      </header>
    
      <div id="calendario" class="calendario">
        <app-calendario_reserva></app-calendario_reserva>
      </div>
    </div>
  
  </div>
  
  <div class="descripcion" id="sobre-nosotros">
    <h1>¿Quienes Somos?</h1>
    <p>En Los Ciruelos, nos apasiona el deporte y estamos comprometidos a ofrecerte la mejor experiencia de juego. 

    Lo que buscamos es promover el pádel y facilitar el acceso a este deporte a todos los niveles de jugadores. Creemos que el pádel no solo es un deporte, sino una forma de vida que fomenta la salud, la amistad y la diversión.
    
    En Los Ciruelos, no solo jugamos pádel, vivimos el pádel. Te invitamos a formar parte de nuestra familia y disfrutar de todo lo que tenemos para ofrecerte.</p>
  </div>

  <section class="ofrecemos">
      <div class="overlay">
          <h1 class="ofrecemos__title">Los Ciruelos te lo pone en bandeja</h1>
          <div class="features-container">
            <div class="feature clickable" (click)="scrollToCalendar()">
                <h2>Reserva Cancha</h2>
                <p>Reserva tu turno en solo unos minutos con nuestro sistema en línea fácil de usar.</p>
            </div>
            <div class="feature">
                    <h2>Sin Limites</h2>
                    <p>Paga tus canchas de pádel de manera rápida y segura desde cualquier lugar.</p>
            </div>
            <div class="feature clickable" (click)="asociarse()">
                    <h2>Forma parte de la comunidad</h2>
                    <p>Únete a nuestra comunidad y disfruta de ser socio de Los Ciruelos. Los miembros tienen acceso a beneficios exclusivos</p>
            </div>
          </div>
      </div>
  </section>
  
  <div class="ubicacion">
    <h1>¿Donde estamos?</h1>
    <p>Calle 34 entre 25 y 26, La Plata, Provincia de Buenos Aires. Argentina </p>
  </div>

  <!-- Agregar API  -->

  <section class="informacion" id="contactos">
    <div class="features-container-informacion">
      <div class="feature-informacion">
        <h2>Horarios del Club</h2>
        <p>Lunes a Sabados 
          11:00hs a 00:00hs
        </p>
      </div>
      <div class="feature-informacion">
        <h2>Contactos</h2>
        <p>0221 411-08556</p>
      </div>
      <div class="feature-informacion">
        <h2>Servicios del Club</h2>
        <ul>
            <li>Wifi</li>
            <li>Estacionamiento</li>
            <li>Vestuario</li>
            <li>Bar/Restaurante</li>
            <li>Disposición de paletas</li>
            <li>Servicio de Emergencias</li>
        </ul>
    </div>
    </div>
  </section>

</div>

