<div class="form">
    <div class="form__container">
      <h1>Reserva</h1>  
        <!-- Paletas y Pelotas -->
        <div class="form-row">
          <mat-form-field appearance="outline" class="custom-field">
            <mat-label>Paletas</mat-label>
            <input matInput [(ngModel)]="paletas" type="number" aria-label="Paletas" (input)="calcularPrecio()"/>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="custom-field">
            <mat-label>Pelotas</mat-label>
            <input matInput [(ngModel)]="pelotas" type="number" aria-label="Pelotas" (input)="calcularPrecio()"/>
          </mat-form-field>
        </div>
        <!-- Botones de pago -->
        <div class="payment-buttons">
            <button mat-raised-button (click)="setPago('seña')" [class.active]="pago === 'seña'" type="button">
            Pagar Seña
            </button>
            <button mat-raised-button (click)="setPago('total')" [class.active]="pago === 'total'" type="button">
            Pagar Total
            </button>
        </div>
        
        <!-- Campo de precio -->
        <div class="price-container">
            <mat-form-field appearance="outline" class="custom-field">
            <mat-label>Precio Total</mat-label>
            <input matInput [value]="precio" readonly aria-label="Precio Total" />
            </mat-form-field>
        </div>
        
        <!-- Botón de registro -->
        <div class="register-button">
            <button mat-raised-button type="submit" class="submit-button" onclick="next()">
            Siguiente
            </button>
        </div>
        <!-- Mostrar mensajes de error globales -->
        <div *ngIf="errorMessages.length > 0" class="error-messages">
          <ng-container *ngFor="let error of errorMessages">
            <div>{{ error }}</div>
          </ng-container>
        </div>
    </div>
</div>
  