<div class="form">
  <div class="form__container">
    <button mat-icon-button class="go-back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1>Registrarse</h1>

<app-button-providers 
   class="custom-button"
   [isLogin]="false" 
   (googleData)="onGoogleSignIn($event)">
</app-button-providers>

  

    <form [formGroup]="form" (ngSubmit)="signUp()" novalidate>


      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="names" />
        <mat-error *ngIf="form.get('names')?.touched && form.get('names')?.hasError('required')">
          Nombre es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')">
          Apellido es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.touched">
          <ng-container *ngIf="form.get('email')?.hasError('required')">
            Correo electrónico es obligatorio.
          </ng-container>
          <ng-container *ngIf="form.get('email')?.hasError('pattern')">
            Correo electrónico inválido.
          </ng-container>
          <ng-container *ngIf="form.get('email')?.hasError('emailTaken')">
            Correo electrónico ya registrado.
          </ng-container>
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          (blur)="checkValidations()"
        />
        <button
          mat-icon-button

          matSuffix
          (click)="toggleHidePassword()"
          [attr.aria-label]="hidePassword ? 'Mostrar contraseña' : 'Ocultar contraseña'"
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.touched">
          <ng-container *ngIf="form.get('password')?.hasError('required')">
            Contraseña es obligatoria.
          </ng-container>
          <ng-container *ngIf="form.get('password')?.hasError('minlength')">
            Contraseña debe tener al menos 6 caracteres.
          </ng-container>
          <ng-container *ngIf="form.get('password')?.hasError('pattern')">
            Contraseña debe incluir al menos una letra mayúscula.
          </ng-container>
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Confirmar Contraseña</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
          (blur)="checkValidations()"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleHideConfirmPassword()"
          [attr.aria-label]="hideConfirmPassword ? 'Mostrar confirmación' : 'Ocultar confirmación'"
          type="button"
        >
          <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('confirmPassword')?.touched">
          <ng-container *ngIf="form.get('confirmPassword')?.hasError('required')">
            Confirmar contraseña es obligatorio.
          </ng-container>
          <ng-container *ngIf="form.get('confirmPassword')?.hasError('minlength')">
            Confirmar contraseña debe tener al menos 6 caracteres.
          </ng-container>
          <ng-container *ngIf="passwordMismatch && form.get('confirmPassword')?.touched">
            Las contraseñas no coinciden.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <div formArrayName="phones">
        <div *ngFor="let phone of phones.controls; let i = index" class="phone-entry">
          <mat-form-field appearance="fill" class="custom-field">
            <mat-label>Número de Teléfono {{i + 1}}</mat-label>
            <input matInput [formControlName]="i" />
            <mat-error *ngIf="phone.touched">
              <ng-container *ngIf="phone.hasError('required')">
                Número de teléfono es obligatorio.
              </ng-container>
              <ng-container *ngIf="phone.hasError('pattern')">
                Número de teléfono inválido (debe tener entre 6 y 15 dígitos).
              </ng-container>
            </mat-error>
          </mat-form-field>

          <button mat-icon-button (click)="removePhone(i)" aria-label="Eliminar teléfono">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <button mat-button (click)="addPhone()" [disabled]="phones.length >= maxPhones">
        Agregar otro número de teléfono
      </button>

      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Categoría de Jugador</mat-label>
        <mat-select formControlName="playerCategory">
          <mat-option *ngFor="let category of playerCategories" [value]="category">{{ category }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('playerCategory')?.touched && form.get('playerCategory')?.hasError('required')">
          Seleccione una categoría de jugador.
        </mat-error>
      </mat-form-field>


      <div *ngIf="errorMessages.length > 0" class="error-messages">
        <mat-error *ngFor="let message of errorMessages">
          {{ message }}
        </mat-error>
      </div>

      <div *ngIf="passwordMismatch" class="password-mismatch-message">
        <mat-error>
          Las contraseñas no coinciden.
        </mat-error>
      </div>


      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Registrarse</button>
    </form>

    <div class="text-center">
      ¿Ya tenes una cuenta? 
      <div class="login">
        <a routerLink="/login">Iniciar Sesion</a>
      </div>
    </div>

  </div>
</div>
