<div class="form">
  <div class="form__container">
    <button mat-icon-button class="go-back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1>Registrarse</h1>

    <app-button-providers [isLogin]="false" (onGoogleSignIn)="onGoogleSignIn()"></app-button-providers>

    <form [formGroup]="form" (ngSubmit)="signUp()" novalidate>

      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="names" />
        <mat-error *ngIf="form.get('names')?.touched && form.get('names')?.hasError('required')">
          Nombre es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')">
          Apellido es obligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.touched">
          <ng-container *ngIf="form.get('email')?.hasError('required')">
            Correo electrónico es obligatorio.
          </ng-container>
          <ng-container *ngIf="form.get('email')?.hasError('pattern')">
            Correo electrónico inválido.
          </ng-container>
          <ng-container *ngIf="form.get('email')?.hasError('emailTaken')">
            Correo electrónico ya registrado.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          (blur)="checkPasswordMatch()"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleHidePassword()"
          [attr.aria-label]="hidePassword ? 'Mostrar contraseña' : 'Ocultar contraseña'"
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('password')?.touched">
          <ng-container *ngIf="form.get('password')?.hasError('required')">
            Contraseña es obligatoria.
          </ng-container>
          <ng-container *ngIf="form.get('password')?.hasError('minlength')">
            Contraseña debe tener al menos 6 caracteres.
          </ng-container>
          <ng-container *ngIf="form.get('password')?.hasError('pattern')">
            Contraseña debe incluir al menos una letra mayúscula.
          </ng-container>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="custom-field">
        <mat-label>Confirmar contraseña</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
          (blur)="checkPasswordMatch()"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleHideConfirmPassword()"
          [attr.aria-label]="hideConfirmPassword ? 'Mostrar contraseña' : 'Ocultar contraseña'"
          type="button"
        >
          <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="form.get('confirmPassword')?.touched">
          <ng-container *ngIf="form.get('confirmPassword')?.hasError('required')">
            Confirmar contraseña es obligatorio.
          </ng-container>
          <ng-container *ngIf="form.get('confirmPassword')?.hasError('minlength')">
            Confirmar contraseña debe tener al menos 6 caracteres.
          </ng-container>
        </mat-error>
        <mat-error *ngIf="passwordMismatch && form.get('confirmPassword')?.touched">
          Las contraseñas no coinciden.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Registrarse</button>

      <div *ngIf="errorMessages.length > 0" class="error-messages">
        <ng-container *ngFor="let error of errorMessages">
          <div>{{ error }}</div>
        </ng-container>
      </div>

    </form>

    <div class="text-center">
      ¿Ya tienes una cuenta? 
      <div class="register">
        <a routerLink="/login">Iniciar Sesion</a>
      </div>

  </div>
</div>
