html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff; 
    background: var(--background);
    overflow-x: hidden; 
  }
  
  .encabezado {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 80px 20px 20px 60px;
    min-height: 100vh; 
    background-image: url('../../../../assets/images/socios.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    overflow: hidden; 
    width: 100%; 
    box-sizing: border-box; 
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 50px;
    text-align: left;
    color: #ffffff;
    font-weight: bold; 
    max-width: 100%;
    overflow-wrap: break-word; 
  }
  
  li {
    list-style-type: disc; 
    padding-left: 20px; 
    margin-bottom: 20px;
    color: #ffffff; 
    font-size: 16px;
    max-width: 100%; 
    overflow-wrap: break-word; 
  }
  
  p {
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left; 
    color: #ffffff;
    font-weight: bold;
    max-width: 100%; 
    overflow-wrap: break-word; 
  }
  
  .full-width {
    max-width: 800px; 
    width: 100%; 
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start; 
    width: 100%;
    position: absolute;
    bottom: 60px; 
    left: 60px;
  }
  
  button {
    width: 420px;
    height: 59px; 
    background-color: #4CAF50;
    color: #ffffff; 
    font-size: 18px; 
    font-weight: bold;
    border: none;
    border-radius: 100px; 
    cursor: pointer;
  }
  