<!-- Barra de navegación -->
<nav class="navbar">
    <div class="navbar__container">
      <!--       <button mat-icon-button class="go-back-button" >
        <mat-icon>arrow_back</mat-icon>
      </button>
      -->
      <button (click)="navigateOrScroll('sobre-nosotros')" type="button">
        Sobre Nosotros
      </button>
      <button (click)="navigateOrScroll('contactos')" type="button">
        Contacto
      </button>
      <button (click)="navigateOrScroll('services')" type="button">
        Servicios
      </button>

      <button routerLink="/profesores" type="button">
        Nuestros Profesores
      </button>
  
      <!-- Mostrar el botón 'Iniciar sesión' si el usuario no está logueado -->
      <button *ngIf="!isLoggedIn" routerLink="/login" type="button">
        Iniciar Sesión
      </button>

      <!-- Mostrar el botón 'Cerrar sesión' si el usuario está logueado -->
      <button *ngIf="isLoggedIn"  routerLink="/mis-reservas" type="button">
        Mis reservas
      </button>
  
      <!-- Mostrar el botón 'Cerrar sesión' si el usuario está logueado -->
      <button *ngIf="isLoggedIn" (click)="logout()" type="button">
        Cerrar Sesión
      </button>
    </div>
  </nav>
  